.navbar {
  margin-bottom: 40px;
}

.navbar-brand {
  i {
    animation: rotate360 infinite 20s linear;
    margin-right: 5px;
  }
}


@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}